* {
  all: unset;
  padding: 2px;
  color: #F2F1F0;
}

.nameinfo {
  font-family: "EnvyCodeR Nerd Font Mono";
  font-weight: bold;
  font-size: 20px;
}

.varlabel {
  font-family: "EnvyCodeR Nerd Font Mono";
  font-weight: bold;
}

.workspace-bracket {
  font-family: "EnvyCodeR Nerd Font Mono";
  font-weight: bold;
  font-size: 300px;
}

.workspace-name {
  font-family: "UDEV Gothic HS";
  font-size: 40px;
  font-weight: bold;
}

.workspace-box {
  font-family: "EnvyCodeR Nerd Font Mono";
  padding: 50px;
}
